#profileSkillsAndEditButton {
    background: white;
    margin-top: 5%;
    
    margin-left: 2%;
    margin-bottom: 20%;
    border: 1px solid;
    box-shadow: 5px 5px #888888;
    width: 400px;
    height: auto;
    padding: 10px;
}

#profileDescription {
    background: white;
    margin-top: 5%;
    
    margin-left: 2%;
    margin-bottom: 20%;
    border: 1px solid;
    box-shadow: 5px 5px #888888;
    width: 600px;
    height: auto;
    padding: 10px;
    
}

.row > div{
    float:left;
    margin:10px;
  }