.divDashboardProjectTable {
    background: white;
    margin-top: 3%;
    margin-left: 2%;
    margin-bottom: 20%;
    width: 1300px;
    height: auto;
    
}
.numberOfBidsColomn{
    width: 17%;
    background-color: #1a1a1a;
    color: white;
}

.projectTitle{
    font-weight: 700;
}

.myProjects{
    margin-left: 30px;
    font-weight: 500;

}

.tableColomn{
    width: 20%;
    background-color: #1a1a1a;
    color: white;
    
}
